body
{

}
.container1
{

  padding : 20px 40px;
  margin : 20px;
  background-color: #fff;
}
.Awarness
{
	background-color: #F3F3F3;
	padding : 10px 20px 10px 70px;
	margin : 2vh;

}
.secondpart
{
  padding-left: 120px;
}
.container2
{
  font-family: cursive;
  font-color : grey;

}
.container3
{
    background-color: #D9D9D9;
}
